.open-btn1 {
  background-color: yellow;
  padding: 6px 14px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

.form-1 {
   background-color: rgb(183, 240, 160);
    display: center;
    /* padding: 50px; */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5px;
}

.form-1 a {
  font-size: 18px;
 gap: 1rem;
}

.oval1 {
    background: url(images/weather.jpg) no-repeat center center/cover;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.oval1 a {
    font-size: 30px;
    font-weight: bold;
    padding: 4px;
    border: 2px solid rgb(244, 243, 248);
    border-radius: 6px;
    border-color: green;
    text-decoration: none;
    color: black;
} 

.form-5 {
  background-color: rgb(201, 186, 186);
  opacity: 0.7;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

.form-5 a {
  color: black;
  font-weight: bold;
}

.body-1 {
    background: linear-gradient(rgba(196, 81, 14, 0.5), rgba(92, 12, 36, 0.9)),
      url(images/waec.jpeg) no-repeat center center/cover;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5px;
}